body
{
background-color: #4F9DA3;
	/*ckground-image: url('photo.jpeg');*/
	background-repeat: no repeat;
	/*margin-top: 80px;*/
  margin-bottom: 100px;
  margin-right: 230px;
  margin-left: 230px;
  text-align: justify;  

}
input[type=text]
{
	border:2px solid #961C51;
	border-radius:4px;
	text-shadow: 2px 5px 5px #525EE6;
}
select
{
	border:2px solid #961C51;
	border-radius:4px;
}
textarea
{
	border:2px solid #961C51;
	border-radius:4px;
}

ul
{
	float:right;
	list-style-type:none;
	margin-top:25px;
}
ul li
{
	display:inline-block;
}
ul li a
{
	text-decoration:none;
	color:#fff;
	padding:5px 20px;
	border:1px solid #fff;
}
ul li a:hover
{
	background-color: white;
	color:#000;
}
h1
{
	text-shadow: 2px 5px 5px red;
}
label
{
	text-shadow: 2px 5px 5px #525EE6;
	font-size:23;
}
p
{
	font-size:23;
}
input[type=checkbox]
{
	width:30px;
	height:30px;
	border:1px solid #fff;

}
input[type=submit]
{
	
	font-size:20;
	width:100px;
	height:30px;

}
p
{
	text-shadow: 2px 5px 5px #525EE6;
	font-size:23;
}
h1
{
	background: linear-gradient(to right, #f32170,
                    #ff6b08, #cf23cf, #1C2E29);
}
